.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 20px;
}
.add-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-button {
  display: flex;
  justify-content: end;
}

.true {
  color: green;
}

.false {
  color: red;
}

.list-group-item {
  padding-left: 0;
}

.group {
  padding-left: 0px !important;
}

.question-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-button {
  margin-bottom: 20px;
  margin-top: 20px;
}

.header {
  display: flex;
  justify-content: center;
}

.quiz-header{
  display: flex;
  justify-content: space-between;
}